/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/*General style rules*/
body {
    font-family: Outfit;
    font-size: 18px;
    position: relative;
    top: 0;
    left: 0;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, h1, h2, small, hr {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}
small {
    font-size: 0.80rem;
}

hr {
    color:hsl(215, 32%, 27%);
    margin: 1rem 0;
}
em {
    text-decoration: none;
    font-style: normal;
    color: white;
}

/*Card stylesheet*/
.card {
    justify-self: flex-start;
    width: 20.83rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
}

.card-image{
    width: 90%;
    padding: 5% 0 2.5% 0;
    height: auto;
}
.card-image img {
    object-fit: contain;
    width: 100%;
    border-radius: 1rem;
}

.card-title {
    text-align: left;
    width: 90%;
    color: hsl(0, 0%, 100%);
    margin: 2.5% 0;
}

.card-description{
    width: 90%;
    text-align: left;
    margin: 2.5% 0;
    color: hsl(215, 51%, 70%);
}

.card-stat {
    margin: 2.5% 0;
    width: 90%;
    display: flex;
}

.stat-cost {
    display: flex;
    align-items: center;
    height: auto;
    color: cyan;
}

.cost-icon {
    margin-right: 0.75rem;
    margin-top: 0.25rem;
}

.stat-time-left {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: hsl(215, 51%, 70%)
}

.time-icon {
    margin-right: 0.75rem;
    margin-top: 0.25rem;
}

.card-line-break {
    width: 90%;
}

.card-creator {
    width: 90%;
    display: flex;
    align-items: center;
}

.creator-image img {
    object-fit: contain;
    width: 100%;
}
.creator-image {
    width: 15%;
    border-radius: 50%;
    border: solid white 0.25rem;
}

.creator-description {
    margin-left: 1rem;
    font-size: 0.9rem;
    color: hsl(215, 51%, 70%);
}

.attribution {
    margin-top: 4rem;
    font-size: 11px;
    text-align: center;
    justify-self: flex-end;
    color: white;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}